<Alloy>
	<View id="menuView" class="container_b">
		<ScrollView id="menuTable">
			<View class="menuButton" onClick="goHome">
				<Label textid="home"/>
			</View>
			<View class="menuButton" onClick="goPortofolio">
				<Label textid="portofolio"/>
			</View>
			<View class="menuButton" onClick="goAboutUs">
				<Label textid="aboutus"/>
			</View>
			<View class="menuButton" onClick="goContact">
				<Label textid="contact"/>
			</View>
    </ScrollView>
	</View>
</Alloy>
